@import url(./reset.css);
@import url(./fonts.css);

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'DMSans', sans-serif;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

/*! start header styles */

.header {
	border: solid 1px rgba(0, 0, 0, 0.085);
	box-shadow: 1px 1px 2px rgb(1, 1, 1);
	border-radius: 5px;
}

.nav {
	padding: 15px 0;	
}
.nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	align-items: center;
	row-gap: 15px;
	gap: 40px;
}
.nav__item {
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}
.nav__link {
	color: black;
	text-decoration: none;
}

/*! end header styles */

/*! start home styles */
.home {
	padding-top: 250px;
}
.home__name {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.name__description {
	padding-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.name__title {
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
	padding-bottom: 30px;
	color: black;
}
.name__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 15px;
	color: black;
}
.home__social {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
	padding-top: 30px;
}
.link__github {
	width: 24px;
	height: 24px;
}
.link__linkedin {
	width: 24px;
	height: 24px;
}
.avatar img{
	max-height: 250px;
	max-width: 250px;
	border-radius: 50%;
}
.stack {
	padding-top: 100px;
	display: flex;
	justify-content: start;
	align-items: center;
}
.stack__title {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: black;
}
.stack__img {
	padding-left: 60px;
}
.stack__img img{
	width: 24px;
	height: 24px;
}

/*! end home styles */

/*! start about styles */

.about {
	padding-top: 250px;
	display: flex;
}
.about__img {
padding-right: 30px;
}

.about__img img{
border-radius: 5%;
}
.about__description {
}

.about__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	padding-bottom: 20px;
	color: black;
}
.about__text {
}